:root {
  --circle-in:  circle(125%);
  --circle-out: circle(0%);
}

.circle-in {
  & > .box {
    clip-path: var(--circle-out);
    transition: clip-path 1s ease;
  }

  &:is(:hover,:focus,:active) > .box {
    clip-path: var(--circle-in);
  }
}

.circle-out {
  & > .box {
    clip-path: var(--circle-in);
    transition: clip-path 1s ease;
  }

  &:is(:hover,:focus,:active) > .box {
    clip-path: var(--circle-out);
  }
}

@keyframes circle-suprise {
  0%, 100% {
    clip-path: var(--circle-in);
  }
  40%, 60% {
    clip-path: var(--circle-out);
  }
}

@keyframes swap-in {
  to {
    opacity: 1;
  }
}

@keyframes swap-out {
  to {
    opacity: 0;
  }
}

.circle-suprise {
  & > .box {
    display: grid;
    grid: auto-flow 1fr / 1fr;

    & > span {
      grid-area: 1 / 1;
    }
  }

  & > .box > span:nth-child(2) {
    opacity: 0;
  }

  &:is(:hover,:focus,:active) {
    & > .box {
      animation: circle-suprise 4s ease;

      & > span:nth-child(1) {
        animation: swap-out 4s ease forwards;
      }
      & > span:nth-child(2) {
        animation: swap-in 4s ease forwards;
      }
    }
  }
}