body {
  min-block-size: 100vh;
  display: grid;
  place-items: center;
  font-family: system-ui;
  margin: 0;
}

.stories {
  /* outer */
  inline-size: 100vw;
  block-size: 100vh;

  /* inner */
  display: grid;
  gap: 1rem;
  grid-auto-flow: column;
  grid-auto-columns: 100vw;
  grid-auto-rows: 100vh;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
  overscroll-behavior-x: contain;
  
  /* desktop constraint */
  @media (min-width: 480px) {
    max-inline-size: 480px;
    grid-auto-columns: 480px;
    max-block-size: 848px;
    grid-auto-rows: 848px;
  }
}

.user {
  /* outer */
  scroll-snap-align: start;
  scroll-snap-stop: always;

  /* inner */
  display: grid;
  grid: [story] 1fr / [story] 1fr;
}

.story {
  grid-area: story;

  background-size: cover;
  background-image: 
    var(--bg), 
    linear-gradient(to top, lch(98 0 0), lch(90 0 0));

  user-select: none;
  touch-action: manipulation;

  transition: opacity .2s cubic-bezier(0.4, 0.0, 1, 1);

  &.seen {
  	opacity: 0;
    pointer-events: none;
  }
}