:root {
  color-scheme: dark light;

  /* destructure brand channels */
  --hue: 200;
  --saturation: 100%;
  --lightness: 50%;
  
  /* build colors with props */
  --brand: hsl(
    var(--hue) 
    calc(var(--saturation) / 2)
    var(--lightness) 
  );
  
  --text1: hsl(var(--hue) 15% 85%);
  --text2: hsl(var(--hue) 15% 65%);

  --surface1: hsl(var(--hue) 10% 10%);
  --surface2: hsl(var(--hue) 10% 15%);
  --surface3: hsl(var(--hue) 5%  20%);
  --surface4: hsl(var(--hue) 5% 25%);
}

@media (prefers-color-scheme: light) {
  :root {
    --brand: hsl(
      var(--hue) 
      var(--saturation)
      var(--lightness) 
    );

    /* very dark brand blue */
    --text1: hsl(
      var(--hue) 
      var(--saturation)
      10% /* lower is darker */
    );

    --text2: hsl(
      var(--hue) 
      calc(var(--saturation) / 2)
      30%
    );
    
    /* very bright brand white */
    --surface1: hsl(
      var(--hue) 
      calc(var(--saturation) / 6) 
      90% /* higher is lighter */
    );

    --surface2: hsl(
      var(--hue) 
      calc(var(--saturation) / 8) 
      99% 
    );

    --surface3: hsl(
      var(--hue) 
      calc(var(--saturation) / 8) 
      96% 
    );

    --surface4: hsl(
      var(--hue) 
      calc(var(--saturation) / 8) 
      85% 
    );
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;

  display: grid;
  place-content: center;
  gap: 10vh;
}

section {
  display: grid;
  gap: 2ch;

  & h2 {
    font-size: 7rem;
    font-weight: 100;
  }
}

.surface-samples {
  display: grid;
  grid-template-columns: 20ch 20ch;
  grid-auto-rows: 20ch;
  gap: 2ch;

  & > * {
    --surface-shadow: var(--hue) calc(var(--saturation) / 8) calc(var(--lightness) / 5);
    box-shadow: 0 1rem .5rem -.5rem ;
    box-shadow:
      0 2.8px 2.2px hsl(var(--surface-shadow) / .02),
      0 6.7px 5.3px hsl(var(--surface-shadow) / .028),
      0 12.5px 10px hsl(var(--surface-shadow) / .035),
      0 22.3px 17.9px hsl(var(--surface-shadow) / .042),
      0 41.8px 33.4px hsl(var(--surface-shadow) / .05),
      0 100px 80px hsl(var(--surface-shadow) / .07)
    ;
    border-radius: 1rem;
    display: grid;
    place-content: center;
    font-size: 3rem;
    font-weight: 200;
  }
}

.text-samples {
  display: grid;
  gap: 2ch;
  grid-template-columns: 20ch 20ch;

  & > * {
    font-size: 3rem;
  }
}

.surface1 {
  background: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background: var(--surface4);
  color: var(--text1);
}

.text1 {
  color: var(--text1);
}

.text2 {
  color: var(--text2);
}