:root {
  color-scheme: light dark;

  --hue: 200;
  --saturation: 100%;
  --lightness: 50%;

  --brand: hsl(var(--hue) var(--saturation) var(--lightness));

  --text1: hsl(var(--hue) var(--saturation) 10%);
  --text2: hsl(var(--hue) calc(var(--saturation) / 2) 30%);

  --surface1: hsl(var(--hue) calc(var(--saturation) / 6) 90%);
  --surface2: hsl(var(--hue) calc(var(--saturation) / 8) 99%);
  --surface3: hsl(var(--hue) calc(var(--saturation) / 8) 96%);
  --surface4: hsl(var(--hue) calc(var(--saturation) / 8) 85%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: hsl(var(--hue) calc(var(--saturation) / 2) var(--lightness) );
    
    --text1: hsl(var(--hue) 15% 85%);
    --text2: hsl(var(--hue) 15% 65%);

    --surface1: hsl(var(--hue) 10% 10%);
    --surface2: hsl(var(--hue) 10% 15%);
    --surface3: hsl(var(--hue) 5%  20%);
    --surface4: hsl(var(--hue) 5% 25%);
  }
}

[color-scheme="light"] {
  color-scheme: light;

  --brand: hsl(var(--hue) var(--saturation) var(--lightness));
  
  --text1: hsl(var(--hue) var(--saturation) 10%);
  --text2: hsl(var(--hue) calc(var(--saturation) / 2) 30%);

  --surface1: hsl(var(--hue) calc(var(--saturation) / 6) 90%);
  --surface2: hsl(var(--hue) calc(var(--saturation) / 8) 99%);
  --surface3: hsl(var(--hue) calc(var(--saturation) / 8) 96%);
  --surface4: hsl(var(--hue) calc(var(--saturation) / 8) 85%);
}

[color-scheme="dark"] {
  color-scheme: dark;
  
  --brand: hsl(var(--hue) calc(var(--saturation) / 2) var(--lightness) );
    
  --text1: hsl(var(--hue) 15% 85%);
  --text2: hsl(var(--hue) 15% 65%);

  --surface1: hsl(var(--hue) 10% 10%);
  --surface2: hsl(var(--hue) 10% 15%);
  --surface3: hsl(var(--hue) 5%  20%);
  --surface4: hsl(var(--hue) 5% 25%);
}

[color-scheme="dim"] {
  color-scheme: dark;

  --hue: 200;
  --saturation: 70%;
  --lightness: 20%;
  
  --brand: hsl(
    var(--hue) 
    calc(var(--saturation) / 2)
    var(--lightness) 
  );
  
  --text1: hsl(var(--hue) 15% 75%);
  --text2: hsl(var(--hue) 10% 61%);

  --surface1: hsl(var(--hue) 10% 20%);
  --surface2: hsl(var(--hue) 10% 25%);
  --surface3: hsl(var(--hue) 5%  30%);
  --surface4: hsl(var(--hue) 5% 35%);
}

* {
  box-sizing: border-box;
  margin: 0;
  
  transition: 
    color 1s ease, 
    background-color 1s ease,
    box-shadow 1s ease;
}

html {
  block-size: 100%;
  background-color: var(--surface1);
  color: var(--text1);
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  padding: 5vmax;
  display: grid;
  place-content: center;
  gap: 5vmax;
}

main {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  justify-content: center;
  gap: 10vmax 10vmin;
}

section {
  display: grid;
  gap: 2.5vh;
}

h1 {
  font-weight: 100;
}

p {
  max-inline-size: 35ch;
  font-size: 1.25rem;
  line-height: 1.5;
}

header {
  display: inline-grid;
  gap: 1ch;
}

form {
  display: flex;
  gap: 2ch;
}

.surface-samples {
  display: grid;
  --size: 20ch;
  grid-template-columns: var(--size) var(--size);
  grid-auto-rows: var(--size);
  gap: 2ch;

  & > * {
    --surface-shadow: var(--hue) calc(var(--saturation) / 8) calc(var(--lightness) / 5);
    box-shadow: 0 1rem .5rem -.5rem ;
    box-shadow:
      0 2.8px 2.2px hsl(var(--surface-shadow) / .02),
      0 6.7px 5.3px hsl(var(--surface-shadow) / .028),
      0 12.5px 10px hsl(var(--surface-shadow) / .035),
      0 22.3px 17.9px hsl(var(--surface-shadow) / .042),
      0 41.8px 33.4px hsl(var(--surface-shadow) / .05),
      0 100px 80px hsl(var(--surface-shadow) / .07)
    ;
    border-radius: 1rem;
    display: grid;
    place-content: center;
    font-size: 3rem;
    font-weight: 200;
  }
}

.text-samples {
  display: grid;
  gap: 2ch;

  & > h1 {
    font-size: 3rem;
    display: inline-flex;
    align-items: center;
    gap: 1ch;
  }
}

.surface1 {
  background-color: var(--surface1);
  color: var(--text2);
}

.surface2 {
  background-color: var(--surface2);
  color: var(--text2);
}

.surface3 {
  background-color: var(--surface3);
  color: var(--text1);
}

.surface4 {
  background-color: var(--surface4);
  color: var(--text1);
}

.text1 {
  color: var(--text1);
}

.text2 {
  color: var(--text2);
}

.swatch {
  display: inline-block;
  inline-size: 1.5ch;
  block-size: 1.5ch;
  border-radius: 50%;

  &.text1 { background-color: var(--text1); }
  &.text2 { background-color: var(--text2); }
}