@custom-media --OSdark (prefers-color-scheme: dark);
@custom-media --motionOK (prefers-reduced-motion: no-preference);

:where(button,button[type],input[type="button"],input[type="submit"],input[type="reset"]),
:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  --_accent: initial /* your color */;
  --_text: initial /* your text color */;
  --_size: initial /* your size */;
  
  --_bg-light: hsl(0deg 0% 100%);
  --_bg-dark: hsl(210deg 9% 31%);
  --_bg: var(--_bg-light);
  
  --_border: hsl(210deg 14% 89%);
  
  --_highlight-size: 0;
  --_highlight-light: hsl(210 10% 71% / 25%);
  --_highlight-dark: hsl(210 10% 5% / 25%);
  --_highlight: var(--_highlight-light);
  
  --_ink-shadow-light: 0 1px 0 hsl(210deg 14% 89%);
  --_ink-shadow-dark: 0 1px 0 hsl(210deg 11% 15%);
  --_ink-shadow: var(--_ink-shadow-light);
  
  --_icon-size: 2ch;
  --_icon-color: var(--accent, blue);

  --shadow-color: 220 3% 15%;
  --shadow-strength: 1%;
  --_shadow-1: 0 1px 2px -1px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 9%));
  --_shadow-2: 0 3px 5px -2px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 3%)),0 7px 14px -5px hsl(var(--shadow-color)/calc(var(--shadow-strength) + 5%));
  
  --_shadow-depth-light: hsl(210deg 14% 89%);
  --_shadow-depth-dark: hsl(210deg 9% 31%);
  --_shadow-depth: var(--_shadow-depth-light);

  font: inherit;
  letter-spacing: inherit;
  line-height: 1.5;
  cursor: pointer;
  touch-action: manipulation;

  font-size: var(--_size, 1rem);
  background: var(--_bg);
  color: var(--_text);
  border: 2px solid var(--_border);
  box-shadow: 
    var(--_shadow-2),
    0 1px var(--_shadow-depth),
    0 0 0 var(--_highlight-size) var(--_highlight)
  ;
  text-shadow: var(--_ink-shadow);
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1ch;
  
  font-weight: 700;
  border-radius: .5ch;
  padding-block: .75ch;
  padding-inline: 1.75ch;

  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  
  transition: border-color .5s var(--ease-3) 3s;

  @media (--OSdark) {
    --_highlight: var(--_highlight-dark);
    --_ink-shadow: var(--_ink-shadow-dark);
    --_shadow-depth: var(--_shadow-depth-dark);
    --_bg: var(--_bg-dark);
    --shadow-color: 220 40% 2%;
    --shadow-strength: 25%;
    --_border: hsl(210deg 9% 31%);
  }

  @media (--motionOK) {
    transition: 
      border-color .5s ease 3s,
      box-shadow 145ms ease;
  }
}

:where(button,button[type],input[type="button"],input[type="submit"],input[type="reset"]) {
  /* disabled */
  &[disabled] {
    --_bg: none;
    --_text: hsl(210deg 7% 56%);
    cursor: not-allowed;
    box-shadow: var(--_shadow-1);

    @media (--OSdark) {
      --_text: hsl(210deg 11% 71%);
    }
  }

  /* pressing */
  &:where(:not(:active):hover) {
    --_highlight-size: .5rem;
    transition-delay: 0s;
    transition-duration: .25s;
  }

  /* icons */
  & > :where(svg) {
    flex-shrink: 0;
    filter: drop-shadow(var(--_ink-shadow));
    block-size: var(--_icon-size);
    inline-size: var(--_icon-size);

    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  & > :where(svg > *) {
    stroke: var(--_icon-color);
    stroke-width: 2px;
  }
}

/* adaptive indigo text */
:where([type="submit"], form button:not([type],[disabled])) {
  --_text: var(--accent, blue);

  @media (--OSdark) {
    --_text: var(--accent, lightblue);    
  }
} 

/* red reset */
:where([type="reset"]) {
  --_text: hsl(0deg 94% 65%);
  --_border: hsl(0deg 100% 83%);

  &:focus-visible {
    outline-color: hsl(0deg 94% 65%);
  }

  @media (--OSdark) {
    --_text: hsl(0deg 100% 89%);
    --_border: hsl(210deg 9% 31%);
  }
}

/* submit, form > button, reset matching hover border color */
:where([type="submit"], [type="reset"], form button:not([type])):is(:hover, :focus-visible):not([disabled]) {
  --_border: currentColor;
}

/* file input */
:where(input[type="file"]) {
  font: inherit;
  max-inline-size: 100%;
  padding: 0;
  cursor: initial;
  align-self: flex-start;
  background-color: hsl(210deg 16% 93%);
  border-radius: .5ch;
  border: none; 

  @media (--OSdark) {
    background-color: hsl(204deg 10% 10%);
    border: 1px solid hsl(210deg 10% 23%); 
  }
}

:where(input[type="file"])::-webkit-file-upload-button,
:where(input[type="file"])::file-selector-button {
  margin-inline-end: 1.75ch;
  cursor: pointer;
  padding-block: .75ch;
  padding-inline: 1.75ch;
}

/* special dark theme styles */
@media (--OSdark) {
  :where([type="submit"]),
  :where(form button:not([type="button"])),
  :where([type="reset"]), 
  :where([disabled]) {
    --_bg: hsl(210deg 11% 15%);
  }
}