.gui-toast-group {
  position: fixed;
  z-index: 2147483647;
  inset-block-end: 0;
  inset-inline: 0;
  padding-block-end: 5vh;

  display: grid;
  justify-items: center;
  justify-content: center;
  gap: 1vh;

  pointer-events: none;
}

.gui-toast {
  --_duration: 5s;
  --_bg-lightness: 90%;
  --_travel-distance: 0;

  color: black;
  background: hsl(0 0% var(--_bg-lightness) / 90%);
  
  max-inline-size: min(25ch, 90vw);
  padding-block: .5ch;
  padding-inline: 1ch;
  border-radius: 3px;
  font-size: 1rem;

  transition: opacity .3s ease;

  &:not(.enter, .exit) {
    opacity: 0;
    transform: translateY(var(--_travel-distance));
  }

  &.exit {
    opacity: 0;
  }

  @media (--dark) {
    color: white;
    --_bg-lightness: 20%;
  }

  @media (--motionOK) {
    --_travel-distance: 5vh;
    transition: opacity .3s ease, transform .3s ease;
  }
}