.hex {
  max-width: 40vh;
  fill: none;
  stroke: var(--brand);
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: .75rem;
  cursor: crosshair;

  & > polygon {
    stroke-dasharray: 150;
    stroke-dashoffset: 1000;
    transform-origin: center;
    transition: stroke-dasharray 2s ease, transform 2s ease;
    animation: animate-stroke 3s ease-out-expo forwards;
  }

  &:hover > polygon {
    stroke-dasharray: 250;
    transform: rotateZ(15deg);
  }
}

@keyframes animate-stroke {
  to { stroke-dashoffset: 0; }
}