@layer demo {
  .emoji {
    font-size: 10vmin;
    will-change: transform;
    scale: var(--scale);
  }

  .gradient {
    block-size: 15vmin;
    aspect-ratio: 16/9;
    border-radius: var(--radius, 25px);
    background: linear-gradient(
      to right, 
      hsl(var(--hue, 200) 100% 50%), 
      hsl(calc(var(--hue, 200) + 25) 100% 54%)
    );
  }
}

@layer demo.support {
  :root {
    display: grid;
    place-content: center;
    min-block-size: 100%;
  }

  body {
    margin: 0;
    display: grid;
    place-items: center;
  }
}

@keyframes octocat-wave{
  0%,100% {
    transform: rotate(0)
  }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}