@layer demo {
  .emoji {
    font-size: 10vmin;
    will-change: transform;
    scale: var(--scale);
  }

  .gradient {
    block-size: 25vmin;
    aspect-ratio: 16/9;
    background: linear-gradient(
      to right, 
      hsl(var(--hue, 200) 75% 50%), 
      hsl(calc(var(--hue, 200) + 25) 75% 54%)
    );
  }

  .title {
    font-size: 3rem;
    letter-spacing: var(--letterspacing, 18px);
  }

  .boldness {
    display: flex;
  }

  .boldness > span {
    font-size: var(--boldness, 48px);
  }

  .radius {
    block-size: 25vmin;
    aspect-ratio: 1;
    border-radius: var(--radius, 25%);
    background: blue;
  }

  .size {
    inline-size: var(--size, 300px);
    block-size: 150px;
    background: rebeccapurple;
  }

  .rotate {
    inline-size: 25vmin;
    aspect-ratio: 1;
    background: hotpink;
    rotate: var(--rotate);
  }

  .pop {
    display: grid;
    grid: 5vmin / auto-flow 5vmin;
    gap: 2.5vmin;
  }

  .orb {
    aspect-ratio: 1;
    background: indigo;
    border-radius: 50%;
    translate: 0 var(--pop);
  }

  .list {
    display: grid;
    grid-template-rows: 25px;
    grid-template-columns: 40ch;
    block-size: 150px;
  }

  .list > .item {
    grid-column: 1;
    grid-row: 1;
    border-radius: 5px;
  }

  .list > .item:nth-child(1) { background: hotpink; transform: translateY(var(--top, 0px)) }
  .list > .item:nth-child(2) { background: indigo; transform: translateY(var(--top, 25px)) }
  .list > .item:nth-child(3) { background: rebeccapurple; transform: translateY(var(--top, 50px)) }
  .list > .item:nth-child(4) { background: deeppink; transform: translateY(var(--top, 75px)) }
  .list > .item:nth-child(5) { background: blue; transform: translateY(var(--top, 100px)) }
  .list > .item:nth-child(6) { background: lime; transform: translateY(var(--top, 125px)) }

  .playground {
    margin-block: 25vh;
  }

  fieldset {
    border: none;
    display: grid;
    max-inline-size: max-content;
    margin-inline: auto;
    margin-block-end: 20px;
  }

  fieldset > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1ch;
  }

  fieldset > div > label {
    min-inline-size: 12ch;
  }

  fieldset > div > span {
    min-inline-size: 4ch;
  }

  .track {
    display: grid;
    inline-size: 80vh;
    padding: 20px;
    background: hsl(0 0% 50% / 15%);
    border-radius: 1e5px;
  }

  .ball {
    aspect-ratio: 1;
    inline-size: 15vh;
    background: deeppink;
    border-radius: 50%;
    transform: translateX(var(--x));
  }

  #mass { accent-color: hotpink }
  #friction { accent-color: cyan }
  #tension { accent-color: lime }
  #start_velocity { accent-color: violet }
}

@layer demo.support {
  :root {
    display: grid;
    place-content: center;
    min-block-size: 100%;
    color-scheme: dark light;
  }

  body {
    margin: 0;
    display: grid;
    place-items: center;
    font-family: sans-serif;
    padding-block: 5vmin;
    gap: 5vmin;
  }
}

@keyframes octocat-wave{
  0%,100% {
    transform: rotate(0)
  }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}