:root {
  --border-color: hsl(221 30% 90%);
  --surface-color-1: hsl(221 90% 98%);
  --surface-color-2: hsl(221 40% 100%);
  --text-color-1: hsl(221 50% 15%);
  --text-color-2: hsl(221 20% 40%);
  --shadow-highlight-color: hsl(219 62% 42% / 25%);
  
  @media (prefers-color-scheme: dark) {
    --border-color: hsl(221 10% 20%);
    --surface-color-1: hsl(221 20% 5%);
    --surface-color-2: hsl(221 5% 10%);
    --text-color-1: hsl(221 90% 98%);
    --text-color-2: hsl(221 20% 80%);
    --shadow-highlight-color: hsl(219 50% 82% / 25%);
  }
}

select {
  font-size: min(100%, 16px);
  padding-inline: 1ch;
  padding-block: .5ch;
}

form {
  display: grid;
  gap: 2ch;
  max-inline-size: 30ch;
}

fieldset {
  padding-block: 1.5ch 2ch;
  padding-inline: 2ch;
  border-radius: 1ch;
  background-color: var(--surface-color-2);
  border: 1px solid var(--border-color);
  accent-color: var(--border-color);

  &:first-of-type {
    margin-top: -5px;
  }
  
  & > legend {
    font-size: .9em;
    color: var(--text-color-2);
  }
  
  & > div + div {
    margin-top: 2ch;
  }
  
  & > div {
    display: flex;
    gap: 1.5ch;
    align-items: center;
    color: var(--text-color-1);

    & > label {
      line-height: 1.5;
    }
  }
}

input[type="checkbox"] {
  transition: box-shadow .2s ease;
  inline-size: 3ch;
  block-size: 3ch;
  outline-offset: 5px;
  accent-color: var(--text-color-2);
  outline-color: var(--border-color);
  
  &:hover {
    box-shadow: 0 0 0 5px var(--shadow-highlight-color);
  }
}

main {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 5vmin;
  align-items: flex-start;

  & > header {
    grid-column: 1 / -1;
  }

  @media (orientation: portrait) {
    grid-template-columns: 1fr;
  }
}

aside {
  display: grid;
  gap: 2ch;
}

article {
  --size: min(300px, calc(25% - 2ch));
  margin: -1ch;

  & > span {
    background: hsl(0 0% 50% / 25%);
    border-radius: 10px;
    inline-size: var(--size);
    block-size: 15ch;
    margin: 1ch;

    @media (orientation: portrait) {
      --size: calc(50% - 2ch);
    }

    @supports (aspect-ratio: 1) {
      block-size: auto;
      aspect-ratio: 1;
    }
  }
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: dark light;
  background-color: var(--surface-color-1);
  color: var(--text-color-1);
}

body {
  min-block-size: 100%;
  font-family: Blokk, system-ui, sans-serif;
  font-size: 125%;

  display: flex;
  flex-direction: column;
  padding: 10vmin;
}

header {
  display: grid;
  gap: 1ch;
}

@media (pointer: fine) {
  select[multiple] {
    display: none;
  }
}

@media (pointer: coarse) {
  form > fieldset {
    display: none;
  }

  article {
    grid-row: 3;
    grid-column: 1 / -1;
  }
}