[absolute] > * {
  /* outer */
  position: absolute;
  top: 50%;
  left: 50%;
  
  /* inner */
  transform: translate(-50%, -50%);
}

/* support styles */
[absolute] {
  /* inner */
  position: relative;
  min-block-size: 10ch;
  min-inline-size: 30ch;
  border: 2px solid cyan;

  & > * {
    border: 2px solid hotpink;
  }
}
