@import 'vars.css';
@import 'demo.css';
@import 'prism.css';

@import 'grid.css';
@import 'flex.css';
@import 'margin.css';
@import 'padding.css';
@import 'absolute.css';

[padding] {
  /* inner */
  display: grid;
  place-content: center;
}

[absolute] {
  /* inner */
  position: relative;
  min-block-size: 10ch;
  min-inline-size: 30ch;
}
