@import 'vars.css';
@import 'demo.css';
@import 'prism.css';

@import 'content-center.css';
@import 'gentle-flex.css';
@import 'autobot.css';
@import 'fluffy-center.css';
@import 'pop-n-plop.css';

.github-corner {
  color: var(--surface1);
  fill: var(--surface2); 
  
  &:hover .octo-arm {
    animation: octocat-wave 560ms ease-in-out
  }
}

@keyframes octocat-wave{
  0%,100% {
    transform: rotate(0)
  }
  20%,60% {
    transform: rotate(-25deg)
  }
  40%,80% {
    transform: rotate(10deg)
  }
}