:root {
  --surface: lch(10 0 0);
  --surface2: lch(6 0 0);
  --surface3: lch(20 0 0);
  --text: lch(95 0 0);
  --text2: lch(75 0 0);
  --brand: lch(64 20 237);

  --space1: .25rem;
  --space2: .5rem;
  --space3: 1rem;
  --space4: 2rem;
  --space5: 3rem;
  --space6: 6rem;

  @media (prefers-color-scheme: light) {
    --surface: lch(98 0 0);
    --surface2: lch(100 0 0);
    --surface3: lch(90 0 0);
    --text: lch(20 0 0);
    --text2: lch(45 0 0);
    --brand: lch(64 40 237);

    @media (dynamic-range: high) {
      --brand: color(display-p3 1 0 1);
    }
  }
}

::selection {
  background-color: var(--brand);
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;

  box-sizing: border-box;
  margin: 0;

  background: var(--surface);
  color: var(--text);
  font-family: system-ui, sans-serif;
}

h1,h2,h3 { 
  margin: 0; 
  font-weight: 500;
}

main {
  display: grid;
  gap: var(--space5);
  padding: var(--space3);

  @media (width >= 540px) {
    padding: var(--space5);
  }

  @media (width <= 540px) {
    place-content: center;
  }
}

form {
  display: grid;
  gap: var(--space5) var(--space6);
  grid-template-columns: repeat(auto-fit, minmax(min(0px, 100%), 35ch));
  align-items: flex-start; 
}

section {
  display: grid;
  gap: var(--space3);
}

header {
  display: grid;
  gap: var(--space2);
}

fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: var(--space2);
  border-radius: var(--space3);
  background: var(--surface3);
  overflow: hidden;
  transition: box-shadow .3s ease;

  &:focus-within {
    box-shadow: 0 5px 20px -10px hsl(0 0% 0% / 50%);
  }
}

input[type="range"] {
  display: block;
  width: 100%;
  margin: 1ex 0;
  appearance: none;
  background: transparent;

  &::-webkit-slider-runnable-track {
    appearance: none;
    height: .5ex;
    border-radius: 5ex;
    background: var(--text);
  }

  &::-moz-range-track {
    appearance: none;
    height: .5ex;
    border-radius: 5ex;
    background: var(--brand);
  }

  &::-webkit-slider-thumb {
    appearance: none;
    height: 2ex;
    width: 2ex;
    margin-top: -.75ex;
    border-radius: 50%;
    background: var(--brand);
    box-shadow: 0 1px 3px hsl(0 0% 0% / 50%);
    cursor: ew-resize;
  }

  &::-moz-range-thumb {
    appearance: none;
    height: 2ex;
    width: 2ex;
    margin-top: -.75ex;
    border-radius: 50%;
    background: var(--brand);
    box-shadow: 0 1px 3px hsl(0 0% 0% / 50%);
    cursor: ew-resize;
  }
}

figure {
  display: grid;
  grid-template-columns: var(--space5) 1fr;
  gap: var(--space2);
  padding: var(--space4);
  transition: background .1s ease;
  margin: 0;

  &:focus-within {
    background: var(--surface2);
    transition-duration: .2s;

    & svg {
      fill: var(--brand);
    }
  }

  & > :matches(figcaption, label) {
    display: grid;
    gap: var(--space2);
  }

  & > figcaption > label {
    display: contents;
  }

  & > :matches(picture, input[type="checkbox"]) {
    align-self: center;
  }
}

small {
  color: var(--text2);
}

svg {
  fill: var(--text2);
  block-size: var(--space4);
  transition: fill .5s ease;
}