@custom-media --motionOK (prefers-reduced-motion: no-preference);

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  --brand-hue: 200;
  --brand-saturation: 100%;
  --brand-lightness: 50%;

  --brand-light: hsl(var(--brand-hue) var(--brand-saturation) var(--brand-lightness));
  --text1-light: hsl(var(--brand-hue) var(--brand-saturation) 10%);
  --surface1-light: hsl(var(--brand-hue) 25% 100%);

  --brand-dark: hsl( var(--brand-hue) calc(var(--brand-saturation) / 2) calc(var(--brand-lightness) / 1.5) );
  --text1-dark: hsl(var(--brand-hue) 15% 85%);
  --surface1-dark: hsl(var(--brand-hue) 10% 10%);
}

:root {
  --brand: var(--brand-light);
  --text1: var(--text1-light);
  --surface1: var(--surface1-light);
}

@media (prefers-color-scheme: dark) {
  :root {
    --brand: var(--brand-dark);
    --text1: var(--text1-dark);
    --surface1: var(--surface1-dark);
  }
}

html {
  block-size: 100%;
  background-color: var(--surface1);
  color: var(--text1);
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gui-split-button {
  --theme: rebeccapurple;
  --ontheme: white;
  --border: 1px solid var(--theme);
  --radius: 6px;

  display: inline-flex;
  box-shadow: inset 0 0 0 1px var(--theme);
  border-radius: var(--radius);
  background: var(--ontheme);
  color: var(--theme);
  fill: var(--theme);
  font-size: 1.25rem;

  @media (prefers-color-scheme: dark) {
    --theme: hsl(270deg 40% 55%);
  }

  & > button {
    border-radius: var(--radius) 0 0 var(--radius);
  }

  & button {
    cursor: pointer;
    appearance: none;
    background: none;
    border: none;
    white-space: nowrap;
    color: inherit;
    font-size: inherit;
    padding-block: 1ch;
    padding-inline: 1.5ch;
    width: 100%;
    text-align: end;
    outline-color: var(--theme);
    outline-offset: -3px;

    &:is(:hover, :focus) {
      background: var(--theme);
      color: white;
    }
  }

  & hr {
    border: none;
    border-top: var(--border);
  }
  
  & > span {
    cursor: pointer;
    position: relative;
    display: inline-flex;
    align-items: center;
    background: var(--theme);
    fill: white;
    border-inline-start: var(--border);
    border-radius: 0 var(--radius) var(--radius) 0;

    &:is(:hover,:focus-within) {
      background: var(--theme);
    }

    & > ul {
      opacity: 0;

      position: absolute;
      top: calc(100% + 2px);
      right: 0;
      box-shadow: inset 0 0 0 1px var(--theme);
      
      list-style-type: none;
      background: white;
      padding: 0;
      border-radius: .5ch;
      overflow: hidden;
      display: inline-grid;
      justify-items: stretch;
    }
    
    &:focus-within {
      & > svg {
        transform: rotateZ(.5turn);
      }
      & > ul {
        opacity: 1;
      }
    }
  }
  
  & svg {
    inline-size: 2.5ch;
    padding-inline: .5ch;
    box-sizing: content-box;
    transition: transform .2s ease;
  }
}