@custom-media --motionOK (prefers-reduced-motion: no-preference);

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  display: grid;
  gap: 2ch;
  place-content: center;
}

.gui-switch {
  --thumb-size: 2rem;
  --track-size: calc(var(--thumb-size) * 2);
  --thumb: hsl(0 0% 100%);
  --track-inactive: hsl(80 0% 80%);
  --track-active: hsl(80 60% 45%);

  --thumb-color: var(--thumb);
  --track-color-inactive: var(--track-inactive);
  --track-color-active: var(--track-active);

  display: flex;
  align-items: center;
  gap: 2ch;
  justify-content: space-between;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;

  @media (prefers-color-scheme: dark) {
    --thumb: hsl(0 0% 100%);
    --track-inactive: hsl(80 0% 2%);
    --track-active: hsl(80 60% 50%);
  }

  & > input {
    appearance: none;
    border: none;
    outline-offset: 5px;
    padding: 2px;
    box-sizing: content-box;

    background: var(--track-inactive);
    inline-size: var(--track-size);
    block-size: var(--thumb-size);
    border-radius: var(--track-size);

    display: grid;
    grid: [stack] 1fr / [stack] 1fr;

    @media (--motionOK) { & {
      transition: background-color .25s ease;
    }}

    &::before {
      content: "";
      cursor: pointer;
      grid-area: stack;
      inline-size: var(--thumb-size);
      block-size: var(--thumb-size);
      background-color: var(--thumb);
      border-radius: 50%;

      @media (--motionOK) { & {
        transition: transform .25s ease;
      }}
    }

    &:checked {
      background: var(--track-active);

      &::before {
        transform: translateX(100%);
      }
    }
  }
}