@custom-media --motionOK (prefers-reduced-motion: no-preference);

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  font-family: system-ui, sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}

h1 {
  font-weight: 100;
  letter-spacing: .25em;
  text-transform: uppercase;
  font-size: clamp(
    2rem, 
    calc(1rem + 5vw), 
    8rem);
}

letter-animation {
  @media (--motionOK) {
    @nest [&] > span {
      display: inline-block;
      white-space: break-spaces;
    }

    @nest [&="breath"] {
      & > span {
        animation: 
          breath 1200ms ease 
          calc(var(--index) * 100 * 1ms) 
          infinite alternate;
      }
    }

    @nest [&="hover"] {
      &:hover > span {
        transform: scale(.75);
      }

      & > span {
        transition: transform .3s ease;
        cursor: pointer;

        &:hover {
          transform: scale(1.25);
        }
      }
    }
  }
}

word-animation {
  @media (--motionOK) {
    @nest [&] {
      display: inline-flex;
      gap: 1ch;
    }

    @nest [&="trampoline"] {
      overflow: hidden;
      overflow: clip;

      & > span {
        display: inline-block;
        transform: translateY(100%);
        animation: 
          trampoline 3s ease 
          calc(var(--index) * 150 * 1ms) 
          infinite alternate;
      }
    }

    @nest [&="hover"] {
      & > span {
        transition: transform .3s ease;
        cursor: pointer;
        
        &:nth-of-type(1) {
          transform-origin: center;
          &:hover {
            transform: translateY(-10px) rotateZ(5deg) scale(1.25);
          }
        }

        &:nth-of-type(2) {
          transform-origin: left center;
          &:hover {
            transform: translateY(-10px) rotateZ(-10deg) scale(1.25);
          }
        }

        &:nth-of-type(3) {
          transform-origin: right center;
          &:hover {
            transform: translateY(-10px) rotateZ(3deg) scale(1.25);
          }
        }
      }
    }
  }
}


@keyframes breath {
  from {
    animation-timing-function: ease-out;
  }
  to {
    transform: scale(1.25);
    filter: blur(5px);
    animation-timing-function: ease-in-out;
  }
}

@keyframes trampoline {
  0% {
    transform: translateY(100%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(0);
    animation-timing-function: ease-in;
  }
}
