html:has(dialog[open]) {
  overflow: hidden;
}

dialog {
  display: grid;
  background: var(--surface-1);
  color: inherit; /* safari */
  max-inline-size: min(90vw, var(--size-content-3));
  max-block-size: min(80vh, 100%);
  max-block-size: min(80dvb, 100%);
  margin: auto;
  padding: 0;
  inset: 0;
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-6);
  z-index: var(--layer-important);
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  transition: opacity .5s var(--ease-3);
  
  @media (--motionOK) {
    animation: var(--animation-scale-down) forwards;
    animation-timing-function: var(--ease-squish-3);
  }

  @media (--OSdark) {
    background: var(--surface-2);
    border-block-start: var(--border-size-1) solid var(--surface-3);
  }

  @media (--md-n-below) {
    margin-block-end: 0;
    border-end-end-radius: 0;
    border-end-start-radius: 0;
    
    @media (--motionOK) {
      animation: var(--animation-slide-out-down) forwards;
      animation-timing-function: var(--ease-squish-2);
    }
  }

  &::backdrop {
    transition: backdrop-filter .5s ease;
  }

  &[loading] {
    visibility: hidden;
  }

  &[open] {
    pointer-events: auto;
    opacity: 1;

    @media (--motionOK) {
      animation: var(--animation-slide-in-up) forwards;
    }

    &::backdrop {
      backdrop-filter: blur(5px);
    }
  }

  & > form {
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: start;
    max-block-size: 80vh;
    max-block-size: 80dvb;

    & > article {
      overflow-y: scroll; 
      max-block-size: 100%; /* safari */
      overscroll-behavior-y: contain;
      display: grid;
      justify-items: flex-start;
      gap: var(--size-3);
      box-shadow: var(--shadow-2);
      z-index: var(--layer-1);
      padding-inline: var(--size-5);
      padding-block: var(--size-3) var(--size-5);

      @media (--OSdark) {
        border-block-start: var(--border-size-1) solid var(--surface-3);
      }
    }

    & > header {
      display: flex;
      gap: var(--size-3);
      justify-content: space-between;
      align-items: flex-start;
      background: var(--surface-2);
      padding-block: var(--size-3);
      padding-inline: var(--size-5);

      & > button {
        border-radius: var(--radius-round);
        padding: .75ch;
        aspect-ratio: 1;
        flex-shrink: 0;
        place-items: center;
        stroke: currentColor;
        stroke-width: 3px;
      }
    }

    & > footer {
      background: var(--surface-2);
      display: flex;
      justify-content: flex-end;
      padding-inline: var(--size-5);
      padding-block: var(--size-3);

      & > menu {
        display: flex;
        flex-wrap: wrap;
        gap: var(--size-3);
      }
    }

    @media (--OSdark) {
      & > :is(header,footer) {
        background: var(--surface-1);
      }
    }
  }
}