@import "sidenav.css";
@import "brandnav.css";

:root {
  --surface: lch(10 0 0);
  --text: lch(80 0 0);
  --brand: lch(64 40 347);

  @media (prefers-color-scheme: light) {
    --surface: lch(98 0 0);
    --text: lch(30 0 0);
    --brand: lch(65 64 350)
  }
}

body {
  min-block-size: 100vh;
  font-family: "BLOKK", system-ui;
  margin: 0;
  padding: 0;
  background: lch(90 0 0);
}

h1,h2,h3,h4,figure {
  margin: 0;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.5rem;
  max-inline-size: 30ch;
}

nav > h4 {
  text-transform: uppercase;
  font-size: .8rem;
}

p {
  line-height: 1.5;
  color: hsl(0 0% 25%);
  max-inline-size: 50ch;
}

a {
  color: deeppink;

  &:is(:hover, :active, :focus) {
    color: rebeccapurple;
  }
}
