@custom-media --motionOK (prefers-reduced-motion: no-preference);

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  display: grid;
  gap: 2ch;
  align-content: start;
}

nav {
  --nav-gap: 2ch;

  display: flex;
  align-items: center;
  overflow-x: auto;

  gap: var(--nav-gap);
  padding: calc(var(--nav-gap) / 2);

  & > a:first-of-type {
    display: inline-flex;
    align-items: center;
    gap: calc(var(--nav-gap) / 4);

    @media (width <= 480px) { & > .home-label {
      display: none;
    }}
  }

  & a {
    text-underline-offset: .25em;
    outline-offset: .5em;
    white-space: nowrap;

    &[href="#"] {
      color: CanvasText;
      text-decoration: none;
    }
  }

  & > .divider {
    color: ButtonText;
    font-size: .5em;
  }
}

.crumb {
  display: flex;
  align-items: center;
  gap: calc(var(--nav-gap) / 4);
  padding: 0;
  cursor: pointer;
}

.disguised-select {
  inline-size: 100%;
  block-size: 100%;
  opacity: .01;
  font-size: 16px; /* fix iOS zoom */
}

.crumbicon {
  display: grid;
  grid: [stack] 3ch / [stack] 3ch;
  place-items: center;
  aspect-ratio: 1;
  border-radius: 50%;

  --disguised-shadow-size: 0px;
  box-shadow: 0 0 0 var(--disguised-shadow-size) Highlight;
  
  @media (--motionOK) { & {
    transition: box-shadow .2s ease;
  }}

  @nest :is(:focus-within, :hover) > & {
    --disguised-shadow-size: 1px;
  }

  &:is(:focus-within, :hover) {
    --disguised-shadow-size: 2px;

    & svg {
      stroke: Highlight;
      stroke-width: 2px;
    }
  }

  & > * {
    grid-area: stack;
  }

  & > svg {
    max-block-size: 100%;
    margin: calc(var(--nav-gap) / 4);

    stroke: CanvasText;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1px;
  }
}