@import "device.css";
@import "tabs.css";

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}

p {
  max-inline-size: 35ch;
  margin-block: .5ch;
}

h2:first-of-type {
  margin-block-start: 0;
}

article {
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  font-family: "Blokk";
  font-size: 1.25rem;
  line-height: 1;
  color: hsl(0 0% 20%);
}