.tabs {
  --accent: 328deg 100% 54%;
  
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

.tabs > nav {
  display: grid;
  overflow-x: auto;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.tabs > nav > div {
  display: flex;
}

nav::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tabs > nav a {
  white-space: nowrap;
  font-size: 80%;
  color: hsl(0 0% 30%);
  font-weight: bold;
  text-decoration: none;
  padding: 1ch 1.5rem;
  border-block-end: 2px solid transparent;
  scroll-snap-align: start;
  transition: color .3s ease;
}

.tabs > nav a:hover {
  background: hsl(var(--accent) / 5%);
}

.tabs > nav a:focus {
  outline-offset: -1ch;
}

.tabs > nav a:target,
.tabs > nav a:active,
.tabs > nav a[active]{
  color: hsl(var(--accent));

  @media (prefers-reduced-motion: reduce) {
    border-block-end-color: hsl(var(--accent));
  }
}

.tabs .indicator {
  min-width: 5ch;
  height: 2px;
  margin-block-end: 1ex;
  background: hsl(var(--accent));
  border-radius: 1rem;

  @media (prefers-reduced-motion: reduce) {
    visibility: hidden;
  }
}

.tabs > section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 100%;
  block-size: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  overscroll-behavior-x: contain;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.tabs > section > article {
  scroll-snap-align: start;
  overflow-y: auto;
  overscroll-behavior-y: contain;
  box-sizing: border-box;
  padding: 1rem 1.5rem;
  font-family: "Blokk";
  font-size: 1.25rem;
  line-height: 1;
  color: hsl(0 0% 20%);
}

h2 {
  margin-block-end: 0;
}

.device {
  display: flex;
  flex-direction: column;
  inline-size: 300px;
  block-size: 500px;
  border-radius: 1ch;
  overflow: hidden;
  border: 1px solid hsl(0 0% 95%);
  box-shadow:
    0 2.9px 1.4px hsl(0 0% 0% / 0.018),
    0 6.8px 3.3px hsl(0 0% 0% / 0.026),
    0 12.3px 5.9px hsl(328deg 100% 10% / 0.032),
    0 20.4px 9.8px hsl(328deg 100% 10% / 0.038),
    0 33.6px 16.1px hsl(328deg 100% 10% / 0.044),
    0 58.7px 28.2px hsl(0 0% 0% / 0.052),
    0 127px 61px hsl(0 0% 0% / 0.07)
  ;
  resize: both; 
}

.device > .tabs {
  flex: 1;
}

header > svg {
  width: 1.25rem;
  padding: 1.5rem 1rem 1rem 1.5rem;
}

nav svg {
  width: 1em;
  pointer-events: none;
}

p {
  max-inline-size: 35ch;
}

html {
  block-size: 100%;
  inline-size: 100%;
}

body {
  min-block-size: 100%;
  min-inline-size: 100%;
  margin: 0;
  box-sizing: border-box;
  display: grid;
  place-content: center;
  font-family: system-ui, sans-serif;
}