@import "open-props/style";
@import "open-props/normalize";
@import "open-props/media";

/* 
TODO: 
- intersecting element != current
- map overflow handling (lots of dots or images)
- ween off of viewport units (go all relative)
- option for cyclical cycling
- improve xl/xs screen layout
- improve non-full viewport layout
- pagination type (paged vs items)
- pagination = none needs grid layout update too
- container queries for when arrows are cramped?
- javascript disabled should hide arrows
- if no pagination then don't observe?
- hide scrollbar attribute

NICE TO HAVE:
- easier custom layout config
- scroll-start / default item != 0
- slider demo (just arrows no dots)
- ecommerce demo (product images)
- gallery demo (image gallery)
- testimonial demo
- paged demo instead of item by item
- variable sized items demo
- example where it's not full width
- arrow placement options
- dynamic slide handling (mutation observer)
- web component
  - slots
  - async initialization
*/

.gui-carousel {
  --_carousel-item-size: 80vw;
  --_carousel-gutters: calc((100vw - var(--_carousel-item-size)) / 2);
  --_carousel-scrollbar-gutter: var(--size-6);
  --_carousel-map-size: var(--size-8);
  
  display: grid;
  grid-template-columns: [carousel-gutter] var(--_carousel-gutters) 1fr [carousel-gutter] var(--_carousel-gutters);
  grid-template-rows: [carousel-scroller] 1fr [carousel-pagination] var(--_carousel-map-size);

  cursor: auto;

  &:focus-visible {
    outline-offset: 0;
  }

  /* configuration handlers */
  &[carousel-pagination="gallery"] {
    --_carousel-map-size: var(--size-fluid-6);
  }

  &[carousel-pagination="none"] .gui-carousel--map {
    display: none;
  }

  &[carousel-controls="none"] .gui-carousel--controls {
    display: none;
  }
}

.gui-carousel--scroller {
  grid-row: 1;
  grid-column: 1/-1;
  
  display: grid;
  grid-auto-columns: var(--_carousel-item-size);
  grid-auto-flow: column;
  align-items: center;
  gap: var(--_carousel-gutters);
  
  padding-block: var(--size-2) var(--_carousel-scrollbar-gutter);
  overflow-x: auto;
  overscroll-behavior-x: contain;
  
  scroll-snap-type: x mandatory;
  scroll-padding-inline: var(--_carousel-gutters);
  padding-inline: var(--_carousel-gutters);

  @media (--motionOK) {
    scroll-behavior: smooth;
  }
}

.gui-carousel--snap {
  scroll-snap-align: center;
}

.gui-carousel--scroll-item {
  display: grid;
  grid: [stack] 1fr / [stack] var(--_carousel-item-size);
  align-items: end;
  
  box-shadow: var(--shadow-4);
  border-radius: var(--radius-4);
  overflow: hidden;

  contain-intrinsic-inline-size: var(--_carousel-item-size);
  content-visibility: auto;

  & > * {
    grid-area: stack;
  }

  & > figcaption {
    max-inline-size: initial; /* open props correction */
    background: linear-gradient(to top, #000e, 75%, #0000);
    justify-self: stretch;
    text-align: center;
    padding-block: var(--size-9) var(--size-3);
    padding-inline: var(--size-3);

    & > a {
      color: white;
      text-shadow: 0 1px 1px #000e;
    }
  }

  & > img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;
    background-color: var(--surface-3);
    box-shadow: var(--inner-shadow-1);
  }

  @media (--motionOK) {
    & {
      transition: transform .3s ease;
    }

    @nest .gui-carousel--snap:not(.--in-view) > & {
      transform: scale(.9);
      box-shadow: var(--shadow-3);
    }
  }
}

.gui-carousel--controls {
  display: flex;
  justify-content: space-between;
  padding-inline: var(--_carousel-gutters);
  display: contents;

  & > .gui-carousel--control {
    margin-block-end: var(--_carousel-scrollbar-gutter);

    &:not([disabled="true"]):active {
      transform: scale(.95);
    }
  }
}

.gui-carousel--control {
  --_shadow-size: 0;
  --_shadow-highlight-light: hsl(0 0% 50% / 10%);
  --_shadow-highlight-dark: hsl(0 0% 100% / 20%);
  --_shadow-highlight: var(--_shadow-highlight-light);

  grid-row: 1;
  place-self: center;
  background: var(--surface-1);
  color: var(--text-2);
  inline-size: var(--size-8);
  aspect-ratio: var(--ratio-square);
  border-radius: var(--radius-round);
  box-shadow: 0 0 0 var(--_shadow-size) var(--_shadow-highlight);
  text-indent: 10ch;
  overflow: hidden;
  z-index: var(--layer-1);
  transition: opacity .5s var(--ease-2) .5s;

  @media (--motionOK) {
    transition: 
      opacity .5s var(--ease-2) .5s, 
      transform .2s var(--ease-elastic-4),
      box-shadow .2s var(--ease-4),
      outline-offset 145ms var(--ease-2)
    ;
  }

  @media (--OSdark) {
    --_shadow-highlight: var(--_shadow-highlight-dark);
  }

  &:hover {
    --_shadow-size: 6px;
  }

  &.--previous {
    grid-column: 1;
  }

  &.--next {
    grid-column: 3;
  }

  &[disabled] {
    cursor: not-allowed;
    transition-delay: 0s;
    box-shadow: var(--shadow-1);

    & > svg {
      opacity: .25;
    }
  }

  &:not([disabled]):is(:hover, :focus-visible) {
    color: var(--link);
  }

  &:not([disabled]) svg > path {
    @media (--motionOK) {
      --_transform: translateX(var(--_x)) scale(.95);
      transition: transform .5s var(--ease-squish-3);
      transform-origin: center center;
    }
  }

  &[aria-label="Next Item"]:not([disabled]):is(:hover, :focus-visible) svg > path {
    --_x: 2px;
    transform: var(--_transform);
  }

  &[aria-label="Previous Item"]:not([disabled]):is(:hover, :focus-visible) svg > path {
    --_x: -2px;
    transform: var(--_transform);
  }
}

@keyframes gui-carousel--control-keypress {
  0%  { outline-offset: 5px }
  50% { outline-offset: 0; }
}

.gui-carousel--map {
  grid-column: 2;
  place-self: center;
  
  display: grid;
  grid-auto-flow: column;
  gap: var(--size-2);

  @nest [carousel-pagination="gallery"] & {
    margin-block-end: 0;
  }

  & > [aria-selected="true"] {
    background: var(--link);
  }

  & > [aria-selected="false"] {
    transform: scale(.75);
  }

  & > button {
    inline-size: var(--size-3);
    padding: 0;
    background-color: var(--surface-4);
    border: var(--border-size-1) solid var(--surface-4);

    &.--gallery {
      inline-size: var(--size-fluid-5);
      border-radius: var(--radius-2);
      border-color: transparent;
      background-origin: border-box;
      background-size: cover;
    }
  }
}