.fullwidth {
  & > .gui-carousel {
    --_carousel-item-size: 100%;
  }

  & .gui-carousel--scroller {
    padding-inline: 0;
  }

  & .gui-carousel--scroll-item {
    border-radius: 0;
    box-shadow: none;
  }
}

.constrained {
  max-inline-size: 500px;
  justify-self: center;
}

.captioned-image {
  display: grid;
  grid: [stack] 100% / [stack] 100%;
  align-items: end;

  box-shadow: var(--shadow-4);
  border-radius: var(--radius-4);
  overflow: hidden;

  & > * {
    grid-area: stack;
  }

  & > figcaption {
    max-inline-size: 100%;
    background: linear-gradient(to top, #000e, 75%, #0000);
    justify-self: stretch;
    text-align: center;
    padding-block: var(--size-9) var(--size-3);
    padding-inline: var(--size-3);

    & > a {
      color: white;
      text-shadow: 0 1px 1px #000e;
    }
  }

  & > img {
    object-fit: cover;
    background-color: var(--surface-3);
    box-shadow: var(--inner-shadow-1);
  }
}

.testimonial {

  & > blockquote {
    border-inline-start: none;

    & > p {
      font-size: var(--font-size-5);
      font-weight: var(--font-weight-2);
      line-height: var(--font-lineheight-0);
      text-align: center;
    }
  }

  & cite {
    border-inline-start: none;
  }
}