@import "https://unpkg.com/open-props/easings.min.css";
@import "theme-switch.css";

@custom-media --motionOK (prefers-reduced-motion: no-preference);
@custom-media --OSdark (prefers-color-scheme: dark);
@custom-media --OSlight (prefers-color-scheme: light);

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  block-size: 100%;
  color-scheme: light;

  &[data-theme="dark"] {
    color-scheme: dark;
  }
}

body {
  min-block-size: 100%;
  font-family: system-ui, sans-serif;
  
  display: flex;
  gap: 2ch;
  align-items: center;
  justify-content: center;
}