@import "https://unpkg.com/open-props/easings.min.css";

.sun-and-moon {
  & > :is(.moon, .sun) {
    fill: var(--icon-fill);
    stroke: none;

    @nest .theme-toggle:hover > & {
      fill: var(--icon-fill-hover);
    }
  }

  & > .sun-beams {
    --_opacity-dur: .5s;

    stroke: var(--icon-fill);
    stroke-width: 2px;
    transition: opacity var(--_opacity-dur) var(--ease-3);

    @nest .theme-toggle:hover & {
      stroke: var(--icon-fill-hover);
    }
  }

  @nest [data-theme="dark"] & {
    & > .sun {
      transition-timing-function: var(--ease-3);
      transform: scale(2);
    }

    & > .moon > circle {
      transform: translateX(-23px);
    }

    & > .sun-beams {
      --_opacity-dur: .15s;
      opacity: 0;

      @media (--motionOK) {
        transform: rotateZ(-.25turn);
      }
    }
  }

  @media (--motionOK) {
    & > .sun {
      will-change: transform;
      transition: transform .5s var(--ease-elastic-3);
      transform-origin: center center;
    }

    & > .sun-beams {
      will-change: transform;
      transition: 
        transform .5s var(--ease-elastic-4),
        opacity var(--_opacity-dur) var(--ease-3)
      ;
      transform-origin: center center;
    }

    & .moon > circle {
      will-change: transform;
      transition: transform .5s var(--ease-out-3);
    }
  }
}