.theme-toggle {
  --size: 2rem;
  --icon-fill: hsl(210 9% 31%);
  --icon-fill-hover: hsl(210 11% 15%);

  background: none;
  border: none;
  padding: 0;

  inline-size: var(--size);
  block-size: var(--size);

  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;

  outline-offset: 5px;

  @nest [data-theme="dark"] & {
    --icon-fill: hsl(210 11% 71%);
    --icon-fill-hover: hsl(210 16% 93%);
  }

  & > svg {
    inline-size: 100%;
    block-size: 100%;
    stroke: currentColor;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
  }

  @media (hover: none) {
    --size: 48px;
  }
}

.theme-toggle--moon, .theme-toggle--sun {
  fill: var(--icon-fill);
  stroke: none;

  @nest .theme-toggle:hover > svg > & {
    fill: var(--icon-fill-hover);
  }
}

.theme-toggle--sun {
  transition: transform .5s var(--ease-4);
  transform-origin: center center;
}

.theme-toggle--sun-beams {
  --_opacity-dur: .5s;

  stroke: var(--icon-fill);
  stroke-width: 2px;
  transform-origin: center center;
  transition: 
    transform .5s var(--ease-elastic-4),
    opacity var(--_opacity-dur) var(--ease-3);

  @nest .theme-toggle:hover > svg > & {
    stroke: var(--icon-fill-hover);
  }
}

.theme-toggle--moon > circle {
  will-change: transform;
  transition: transform .5s var(--ease-out-3);
}

[data-theme="dark"] {
  & .theme-toggle--moon > circle {
    transform: translateX(-23px);
  }

  & .theme-toggle--sun-beams {
    --_opacity-dur: .15s;
    transform: rotateZ(-.25turn);
    opacity: 0;
  }
}